/* Source and licensing information for the line(s) below can be found at http://localhost/SBHS-D10/core/themes/claro/css/components/divider.css. */
.divider{height:1px;background-color:var(--color-divider)}
/* Source and licensing information for the above line(s) can be found at http://localhost/SBHS-D10/core/themes/claro/css/components/divider.css. */